* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #fdfdfd;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.section {
  padding: 80px 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}
